@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 14px; }

body { font-family: "Montserrat", sans-serif; font-weight: 300; }

h1, h2, h3, h4, h5, h6 { font-family: "Work Sans", sans-serif; }

input, select, textarea, button { font-family: inherit; }

button { padding: 0px; }
button:focus { outline: none; }

a { text-decoration: none; color: inherit; }

.footer { padding-top: 4.97857em; padding-bottom: 4.64286em; background-color: #37474f; }
.footer__nav ul { display: flex; justify-content: space-around; }
.footer__nav__title { text-transform: uppercase; font-size: 0.85714em; font-weight: 700; color: #ffffff; }

.nav__title__item { font-size: 1em; font-weight: 300; line-height: 2.57143em; color: #cfd8dc; }
.nav__title__item img { margin-top: 1.14286em; margin-right: 2.71429em; width: 2.85714em; height: 2.85714em; }

.fold { width: 100%; height: 600px; padding-top: 48px; overflow: hidden; background-image: url("../images/bg-video.png"); }
.fold__logo { width: 288px; height: 36px; padding-left: 48px; }
.fold__title { margin: 3em auto 2em; text-align: center; text-transform: uppercase; line-height: 1.4; letter-spacing: -0.7px; font-size: 2.5em; font-weight: 500; color: #ffffff; }
.fold__button { position: relative; display: block; width: 180px; height: 50px; margin: 5em auto 0px; border-radius: 2px; text-transform: uppercase; letter-spacing: 0.8px; font-weight: 500; font-size: 16px; color: #153343; }

.catalogue__title { margin: 48px auto; text-align: center; text-transform: uppercase; font-size: 32px; font-weight: 600; color: #37474f; }
.catalogue__navigation { display: flex; justify-content: space-around; font-size: 1.71429em; font-weight: 500; color: #b0bec5; }
.catalogue__navigation li { display: inline-block; }
.catalogue__navigation li a { cursor: pointer; }
.catalogue__navigation li a span { font-weight: 300; }
.catalogue__info { display: none; animation: fadeEffect 1s; }
.catalogue__info.active { display: flex; }
.catalogue__info__content { margin-top: 9em; margin-left: 3.07143em; margin-right: 5.64287em; margin-bottom: 5.57143em; font-size: 1.14286em; color: #455a64; }
.catalogue__info__slider-logo { width: 3.85714em; height: 3.14286em; margin-bottom: 2.21428em; }
.catalogue__info__title { margin-bottom: 0.64286em; text-transform: uppercase; font-weight: 700; line-height: 1.85714em; }
.catalogue__info__text { line-height: 1.78571em; font-weight: 400; }
.catalogue__info__button { margin-top: 3.21429em; padding: 0.8em 1.6em; border-radius: 2px; text-transform: uppercase; font-family: "Roboto", sans-serif; font-size: 1.14286em; font-weight: 500; letter-spacing: 0.05714em; background-color: #303f9f; color: #ffffff; }
.catalogue__info__img figure img { margin-left: 3em; padding-top: 6.59286em; width: 732px; }

.characteristics { display: flex; justify-content: space-between; margin-bottom: 5.28571em; background-color: #eceff1; }
.characteristics__images img { width: 480px; height: 140px; margin-top: 4em; margin-left: 3.28571em; margin-right: 3.78571em; }
.characteristics__info { margin-left: 4.21429em; margin-right: 3em; }
.characteristics__info__box-1 { margin-top: 84px; margin-bottom: 7.28571em; }
.characteristics__info__box-2 { margin-bottom: 6.5em; }
.characteristics__info__box-3 { margin-bottom: 6.71429em; }
.characteristics__info__icon-1 { width: 1.85714em; height: 1.92857em; }
.characteristics__info__icon-2 { width: 1.85714em; height: 1.85714em; }
.characteristics__info__icon-3 { width: 1.71429em; height: 2.21428em; }
.characteristics__info__title { display: inline; margin-left: 0.5em; font-size: 2.14286em; text-transform: uppercase; line-height: 1em; font-weight: 600; color: #37474f; }
.characteristics__info__text { margin-top: 1em; font-size: 1em; line-height: 1.78571em; color: #455a64; }

.packages h1 { font-weight: 600; text-transform: uppercase; color: #4a4a4a; }
.packages__title-principal { text-align: center; margin-top: 2em; margin-bottom: 2em; font-size: 2.28571em; }
.packages__boxes { display: flex; justify-content: space-around; }
.packages__boxes__content { max-width: 320px; }
.packages__boxes__img { width: 11.5em; height: 11.5em; display: block; margin: 0 auto; }
.packages__boxes__title { margin: 1em 0; text-align: center; font-size: 2.14286em; }
.packages__boxes__text { text-align: center; line-height: 1.78571em; font-size: 1em; font-weight: 400; color: #465a64; }
.packages__button { display: flex; margin: 5.64286em auto 5.85714em; padding: 1.14286em 2.14286em; border-radius: 2px; text-transform: uppercase; font-family: "Montserrat", sans-serif; font-size: 1.14286em; font-weight: 500; letter-spacing: 0.03571em; line-height: 1.85714em; background-color: #37474f; color: #ffffff; }

.success-stories { display: flex; padding-top: 3.57143em; background-color: #cfd8dc; }
.success-stories__box { min-width: 50%; margin-left: 3.42857em; }
.success-stories__box__title { padding-top: 1em; align-self: flex-start; font-size: 2.28571em; font-weight: 600; text-transform: uppercase; color: #4a4a4a; }
.success-stories__box__images { display: flex; flex-wrap: wrap; }
.success-stories__box__images figure { position: relative; width: 30%; min-height: 100px; }
.success-stories__box__images figure img { position: absolute; top: 50%; left: 50%; width: 95%; transform: translate(-50%, -50%); }
.success-stories__box__images figure:nth-child(2) img, .success-stories__box__images figure:nth-child(5) img { width: 45%; }
.success-stories__case { margin-left: 4.21429em; margin-right: 4.21429em; }
.success-stories__case__img { margin-top: 1em; width: 487px; height: 241px; }
.success-stories__case__button { display: flex; margin: 2.35714em auto; padding: 1.14286em 2.10714em; border-radius: 2px; text-transform: uppercase; font-size: 1.14286em; font-weight: 500; letter-spacing: 0.03571em; line-height: 1.85714em; background-color: #37474f; color: #ffffff; }

.suscribe { display: flex; justify-content: space-around; margin-top: 7.5em; margin-bottom: 7.73571em; }
.suscribe__title { margin-bottom: 16px; text-transform: uppercase; font-size: 2.28571em; font-weight: 600; color: #4a4a4a; }
.suscribe__text { margin-bottom: 2.5em; font-size: 1.14286em; line-height: 2em; color: #465a64; }
.suscribe div { max-width: 625px; }
.suscribe__separation { height: 166px; border-left: solid 1px #2db273; }
.suscribe__form { max-width: 654px; }
.suscribe__form select { -moz-appearance: none; -webkit-appearance: none; color: #b0bec5; }
.suscribe__form__input { margin-right: 2.5em; padding-top: 0.64286em; padding-bottom: 0.85714em; padding-left: 1.35714em; border-radius: 2px; width: 324px; height: 47px; font-size: 1.14286em; font-weight: 600; line-height: 1.85714em; background-color: #eceff1; border: none; outline: none; }
.suscribe__form__input:first-child { display: block; width: 528px; margin-bottom: 1.57143em; }
.suscribe__form__input::placeholder { color: #b0bec5; }
.suscribe__form__button { padding: 1.14286em 2.14286em; border-radius: 2px; font-size: 1.14286em; font-weight: 600; line-height: 1.85714em; letter-spacing: 0.03571em; background-color: #37474f; color: #ffffff; }

@media screen and (max-width: 900px) { body { font-size: 12px; }
  .fold__title { margin: 85px 62px 82px; line-height: 59px; }
  .catalogue__info__title { width: 282px; height: 52px; font-size: 16px; }
  .catalogue__info__img figure img { width: 364px; margin-left: 0; }
  .characteristics { font-size: 14px; }
  .characteristics__images { margin-left: 29px; }
  .characteristics__images img { width: 310px; height: 160px; }
  .characteristics__info { margin-left: 0; }
  .characteristics__info__box-1 { margin-top: 66px; margin-bottom: 75px; }
  .characteristics__info__box-2 { margin-bottom: 75px; }
  .characteristics__info__box-3 { margin-bottom: 65px; }
  .packages__boxes { flex-direction: column; text-align: center; }
  .packages__boxes__content { margin: 0 auto; font-size: 14px; }
  .packages__boxes__img { display: inline-flex; width: auto; height: auto; }
  .packages__boxes__title { display: inline-flex; }
  .success-stories { flex-direction: column; text-align: center; }
  .success-stories__box__title { font-size: 35px; padding-top: 0; }
  .success-stories__box__images { flex-wrap: nowrap; }
  .suscribe__title { font-size: 35px; }
  .suscribe__text { font-size: 16px; }
  .suscribe div { margin-left: 26px; }
  .suscribe__form { margin-right: 31px; }
  .suscribe__form__input { width: 369px; margin-right: 0; }
  .suscribe__form__input:first-child { margin-right: 0; width: 369px; }
  .suscribe__form__button { margin-top: 28px; }
  .footer { font-size: 14px; }
  .footer__nav ul li:nth-child(3) { display: none; } }
