//====================================
// Catalogue
//====================================
.catalogue
    &__title
        margin: 48px auto
        text-align: center
        text-transform: uppercase
        font-size: 32px
        font-weight: 600
        color: $charcoalGrey

    &__navigation
        display: flex
        justify-content: space-around
        font-size: 1.714285em
        font-weight: 500
        color: $coolGrey
        li
            display: inline-block
            a
                cursor: pointer
                & span
                    font-weight: 300

    &__info
        display: none
        animation: fadeEffect 1s
        &.active
            display: flex
        &__content
            margin-top: 9em
            margin-left: 3.071428em
            margin-right: 5.642867em
            margin-bottom: 5.571428em
            font-size: 1.142857em
            color: $charcoalGrey2
        &__slider-logo
            width: 3.857142em
            height: 3.142857em
            margin-bottom: 2.214285em
        &__title
            margin-bottom: .642857em
            text-transform: uppercase
            font-weight: 700
            line-height: 1.857142em
        &__text
            line-height: 1.785714em
            font-weight: 400
        &__button
            margin-top: 3.214285em
            padding: .8em 1.6em
            border-radius: 2px
            text-transform: uppercase
            font-family: $tertiaryFont
            font-size: 1.142857em
            font-weight: 500
            letter-spacing: .057142em
            background-color: $duskBlue
            color: $white
        &__img
            & figure img
                margin-left: 3em
                padding-top: 6.592857em
                width: 732px
