//====================================
// Characteristics
//====================================
.characteristics
    display: flex
    justify-content: space-between
    margin-bottom: 5.285714em
    background-color: $paleGrey
    &__images
        & img
            width: 480px
            height: 140px
            margin-top: 4em
            margin-left: 3.285714em
            margin-right: 3.785714em
    &__info
        margin-left: 4.214285em
        margin-right: 3em
        &__box-1
            margin-top: 84px
            margin-bottom: 7.285714em
        &__box-2
            margin-bottom: 6.5em
        &__box-3
            margin-bottom: 6.714285em
        &__icon-1
            width: 1.857142em
            height: 1.928571em
        &__icon-2
            width: 1.857142em
            height: 1.857142em
        &__icon-3
            width: 1.714285em
            height: 2.214285em
        &__title
            display: inline
            margin-left: .5em
            font-size: 2.142857em
            text-transform: uppercase
            line-height: 1em
            font-weight: 600
            color: $charcoalGrey
        &__text
            margin-top: 1em
            font-size: 1em
            line-height: 1.785714em
            color: $charcoalGrey2
